# Environment files
.env
*.env

*.venv
logs/
out/
output/
output1/
*.pdf

# Virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# IDE files
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Output files
*.summary
